
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

$pink: #D80351;
$blue: #00A3EE;
$yellow: #F5D908;

// All styles need to fall inside the 'local' selection so they don't interfere
// or get interfered with by the admin styles

.local {

  padding-top: 20px;

  .brand {
    background: url("logo-small.jpg") top left no-repeat;
    width: 441px;
    height: 100px;
    float: left;

    .banner {
      font-family: 'Merriweather Sans', sans-serif;
      color: #333;
      font-size: 48px;
      padding: 4px 0 0px 455px;
      line-height: 48px;
      float: left;
      .dot {
        color: $pink;
      }
    }
  }




  // NAVBAR ************************************
  .navbar-wrapper {

    padding: 0;
    margin-top: 5px;


    .navbar {
      background-color: #fff;
      margin: 0;
      margin-bottom: 5px;

      .navbar-inner {
        margin-top: 10px;
        border: none;
        background-color: #f0f0f0;
        background-image: none;
        filter: none;
        box-shadow: none;
        border-radius: 0;

        ul.nav {

          height: 40px;

          li.dropdown:hover > ul.dropdown-menu{
            display: block;
          }


          li {

            margin: 0 7px 0 0;
            padding: 0;

            &:last-child {
              margin: 0;
            }

            a {
              font-size: 13px;
              font-weight: bold;
              text-transform: uppercase;
              text-shadow: none;
              padding: 0px 10px 10px 10px;
              color: #333;

            }

            &:hover {
              a {
                color: $pink;
                box-shadow: none;
              }
            }

          }

        }
      }

      // DROPDOWN MENU

      .dropdown-menu:after, .dropdown-menu:before {
        content: none !important;
        left:  0;
      }

      .dropdown-menu {
        left: 0;
        margin-top: -1px;
        background-color: #ccc;
        border-radius: 0;
        padding: 0px !important;
        border: 1px solid #ccc;


        li {
          padding: 0 !important;
          margin: 0 !important;

          a {
            padding:  10px !important;
            background-color: #eee;
            color: #333 !important;
            text-transform: none !important;
            margin: 0 !important;

            &:hover {
              background-color: #fff !important;
              background-image: none;
              color: $pink !important;
            }
          }
        }

      }


    }

  }



  // BREADCRUMBS ******************************

  .breadcrumbs {
    box-shadow: inset 0px 2px 5px darken($pink, 10%);
    background-color: $pink;

    .heading {
      padding: 15px 0;
      margin: 0;
      text-transform: none;
      color: #fff;
      font-weight: normal;
      font-size: 24px;
    }

  }

  .page-banner {
    height: 200px;
    overflow: hidden;
    position: relative;

    .background-image {
      position: absolute;
      bottom: 0;
      min-width: 1250px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
    }

  }


  // FADER
  .homepage-fader {
    margin-top: 10px;
    margin-bottom: 0px;
    background: #fff;
    height: 300px;
    overflow: hidden;
    position: relative;

    padding-bottom: 0px;

    .item {
      top:  240px;
      position: relative;

    }

    .background-image {
      position: absolute;
      bottom: 0;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }




  }




  // FEATURES

  .lower-half {
    border-top: 1px solid #ddd;
    background-color: #f0f0f0;
    margin-top: 0px;
  }

  .homepage-feature-wrapper {
    //background: url("grey-gradient.png") bottom left repeat-x;

    .homepage-feature {
      padding-bottom: 20px;

    }

  }





  .homepage-middle {
    padding: 10px 0;
    background-color: $pink;
    border-top: 1px solid #fff;
    min-height: 150px;

    h2 {
      color: #fff;
      font-weight: 200;
      font-size: 20px;
    }
  }




  // FOOTER

  .footer {
    padding: 50px 0 50px 0;
    background-color: #303030;

    .footer-logo {
      background: url("footer-logo.png") top left no-repeat;
      width: 173px;
      height: 32px;
    }

    .linkedin {
      background: url("linkedin.png") top left no-repeat;
      width: 30px;
      height: 30px;
    }

    .copyright {
      line-height: 20px;
      color: #fff;
      margin-left: 20px;
    }

  }



  // TEMPLATES ************************************

 .feature-heading {
      font-size: 25px;
      //text-transform: uppercase;
      color: #000;
      font-weight: bold;
      padding: 0;
      margin-top: 5px;
      //font-family: 'Shadows Into Light Two', cursive;
      margin-bottom: 15px;
      font-family: 'Merriweather Sans', sans-serif;
      // background-color: #eee;
      padding: 10px 0px 0px;
      line-height: 35px;
      
    }

    .feature-content {
      margin-top: 0px;

      .now-showing {
        background-color: $pink;
        color: white;
        padding: 5px 10px;
        border: 1px solid $pink;
        margin-bottom: 10px;
        box-shadow: 0 5px 5px #ccc;
        font-size: 12px;
      }

      .item {


        padding: 10px 10px 15px;
        display: block;
        font-size: 15px;
        font-weight: bold;
        color: #333 !important;
        background-color: #f9f9f9;
        margin-bottom: 20px;
        outline: 1px solid #ddd;
        box-shadow: 0 5px 5px #ccc;


        .action {
          font-size: 12px;
          margin-top: 10px;
        }

        .caption {
          // min-height: 40px;
          
        }

        .by {
          font-weight: normal;
          color: #666;
        }

        .img-wrapper {
          margin: 10px 0;
          position: relative;

          img {
            width: 280px;
          }
        }

        // &:last-child {
        //   border-bottom: none;
        // }

        .blurb {
          line-height: 1.7;
          font-size: 12px;
          color: #555;
          font-weight: normal;

          &.coming-soon {
            text-align: center;
            padding-top: 5px;
          }

        }


        h4 {
          color: #666;
          font-size: 11px;
          background-color: #eee;
          padding: 3px 5px;
          text-transform: uppercase;

        }

        .date {
          text-align: center;
        }

        &:hover {

          color: $pink !important;
          text-decoration: none;
          cursor: pointer;
          outline: 1px solid #aaa;

          .date {
            color: $pink !important;
          }

          .blurb {
            color: #000;
          }        

        }

      }

    }

  // COLUMNS-4-8 **********************************


  .side-menu {

    margin-top: 25px;
    
    .side-menu-item {
      float: right;
      display: block;
      width: 80%;
      line-height: 30px;
      padding-left: 20px;
      color: #555;
      font-weight: bold;

      &:hover, &.active {
        cursor: pointer;
        text-decoration: none;
      }

    }


  }


  .inside-page {
    //background: url("grey-gradient.png") bottom left repeat-x;
    padding-bottom: 100px;
  }

  .project-info {
    text-align: right;
    margin-top: 14px;
  }


  .main {
    padding-top: 15px !important;
    
    color: #333;
    line-height: 1.6;
    
    h2 {
      font-weight: 200;
      border-bottom: 1px solid #ccc;
      font-size: 36px;
      display: block !important;
      padding: 10px 0;
      margin: 0;
      padding-bottom: 15px;
      margin-bottom: 20px;

    }

    h3 {
      font-weight: 200;
      padding-top: 0px;
      border-bottom: 1px solid $pink;
      padding-bottom: 5px;
      width: 520px;
      
    }

    h4 {
      margin-top: 15px;
      clear: both;
    }

    h5 {
      padding: 10px 0 5px;
      color: #333;
      font-size: 14px;
      border-bottom: 1px dotted $pink;
      margin-top: 15px;

    }


    .pull-right {
      width: 40%;
      float: right;
      padding: 10px;
      border: 1px solid #ccc;
      margin: 0 0 15px 15px;
    }

    .img-wrapper {

      img {
        width: 100%;
      }

      margin-bottom: 15px;

    }

    .icon {
      float: left;
      width: 50px;
      margin-top: 10px;
    }

    .download {
      float: left;
      line-height: 50px;
      margin-left: 15px;
    }

    .activity-header, .activity-day {
      color: $pink;
      font-weight: bold;
    }

    p {

      

      .inline-list {

        .inline-list-item {
          background-color: #f7f7f7;
          height: 25px;
          line-height: 25px;
          padding:  5px 10px;
          margin-right: 5px;
          margin-bottom: 5px;
          display: block;
          float: left;

          &.hover {
            background-color: lighten($pink, 35%);
          }
        }
      }
    }

    ul {
      padding-bottom: 20px;
    }

    iframe {
      outline: none;
      border: 1px solid #ccc;
    }

    form {
      margin-top: 20px;
      border-radius: 10px;
      background-color: #f7f7f7;
      padding:  20px;

      .control-label {
        width:  70px;
        font-weight: bold;
      }

      input {
        font-size: 16px;
        padding: 15px;
        width: 228px;
      }

      
      textarea {
        padding: 15px;
        min-height: 200px;
        width: 228px;
      }

      small {
        a {
          color: #555;
        }
      }
    }



    .project-thumbnails {
      margin-top: 20px;
      margin-bottom: 20px;
      overflow: visible;
      display: block;

      .thumbnail {
        overflow: hidden;
        height: 100px;
        width: 185px;
        padding: 0;
        float: left;
        margin: 0 15px 15px 0;

        img {

        }
      }
    }

  }


  // GOODLINE PROJECTS


  .categories {
    margin-bottom: 20px;

    .category {
      padding: 0 0 5px;
      margin: 0 20px 25px 0px;
      color: #555;
      text-shadow: 1px 1px 2px #ddd;
      font-weight: bold;
      font-size: 16px;
      border-bottom: 2px solid #ccc;

      &.active, &:hover {
        border-bottom: 2px solid $pink;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }


  .projects {

    position: relative;
    margin-top: 10px;

    .projects-project {
      margin-bottom: 20px;
      position: absolute;
      overflow: hidden;

      .photo {
        background-color: #eee;
        height: 350px;
        width: 298px;
        overflow: hidden;
        border: 1px solid #ccc;


        img {
          min-height: 300px;
        }
      }


      .caption-shadow {
        height: 115px;
        background: url("grey-gradient.png") center left repeat-x;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 298px;
        z-index: 10;
        border: 1px solid #ccc;
        border-top: 2px solid $pink;
      }

      .caption {
        z-index: 20;
        bottom: 30px;
        left: 0;
        position: absolute;
        margin: 0 10px 10px;
        color: #333;
        font-size: 18px;
        line-height: 1.3;
      }

      .type {
        z-index: 30;
        bottom: 0;
        left: 0;
        position: absolute;
        background-color: $pink;
        color: #fff;
        padding: 5px 10px;
        width: 298px;
        border: 1px solid darken($pink, 10%);
      }

      &:hover {
        background-color: #fff;
        box-shadow: 0px 0px 10px $pink;
        text-decoration: none;
      }

    }

  }

  .relative {

    position: relative;

    .absolute {
      position: absolute;
      top: 0;
      left: 0;
    }


  }



}

