
@import url(http://fonts.googleapis.com/css?family=Unica+One);

// Login shroud goes outside the main nimbus admin section because it gets appended to the body before login
.nimbus-login-shroud {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #333; /* Old browsers */
  opacity: 0.6;
}

.nimbus-login-controls {

  position: fixed;
  top: 0;
  left: 0;
  height: 300px;
  width: 500px;
  background-color: #fff;
  opacity: 1;
  z-index: 20000;
  border-radius: 15px;

  .brand {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 22px;
    color: #999;
    font-family: 'Unica One', cursive;
  }

  form {

    margin: 20px;
    margin-top: 75px;

    label {
      line-height: 34px;
      text-transform: uppercase;
      font-size: 12px;
      color: #999;
      font-weight: bold;
    }

    input {
      line-height: 30px;
      padding: 10px 5px;
      border: none;
      outline: none !important;
      box-shadow: none;
      border-bottom: 1px solid #eee;
      border-radius: 0 !important;

      &:focus {
        outline:0px !important;
        box-shadow: none;
      }

    }

    .controls {

      button {
        margin-top: 10px;
      }

    }

  }

  .close_login_controls {

    position: relative;
    float: right;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    line-height: 16px;
    text-align: center;
    color: #aaa;
    background-color: none;
    display: block;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 200;
    padding: 5px;

    &:hover {
      color: #fff;
      background-color: #ccc;
      text-decoration: none;
      cursor: pointer;
      border-radius: 20px;
    }
  }

}


.nimbus-admin {








}






// Main admin panel as the background for the whole admin page
.main-admin-panel {

  background: #ffffff; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#eeeeee 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #ffffff 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */



  .loading {
    position: absolute;
    height: 30px;
    width: 130px;
    color: #ddd;
    text-align: center;
    font-size: 22px;
    
  }



  // Main Welcome and Starting point

  .welcome {


  }


  .nimbus-cloud {

    position: absolute;
    height: 140px;
    width: 220px;
    background: url("nimbus-cloud-large.png") top left no-repeat;

  }


  .vertical-string {

    position: absolute;
    border: 1px dashed #ccc;
    width: 0px;

  }


  .main-page-controls {

    position: absolute;



    .create-new {

      .circle-button {
        border-radius: 50%;
        width: 50px;
        height: 50px; 

        background-color: #4ECDC4;
        border: 5px solid #fff;

        font-size: 50px;
        color: #fff;
        line-height: 40px;
        text-align: center;

        &.hover {

          box-shadow: 0px 0px 20px #4ECDC4;
          background-color: #4ECDC4;
          border: 5px solid #fff;
          cursor: pointer;

        }

      }

    }  

  }


}



.message_queue {

  position: fixed;

  right: 0;
  top: 0;
  width: 300px;

  z-index: 999999;

  .message {

    float: right;
    padding: 15px;
    font-weight: 200;
    margin-top: -2px;
    font-size: 18px;

    &.error {
      background-color: #ff0000;
      color: #fff;
      border: 2px solid darken(#ff0000, 2%);
    }

  }


}


.nimbus-admin-controls {
  padding: 10px;
  background-color: #ddd;
}